.ant-layout-sider-zero-width-trigger {
  z-index: 100 !important;
  position: relative !important;
  top: 2px !important;
  right: 0px !important;
  font-size: 25px !important;
  line-height: 28px !important;
}